/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14/03/2015, 18:35:45
    Author     : anna
*/

/*
body {
  font: 10px sans-serif;
}
*/

//http://bl.ocks.org/mbostock/3885304

.bar {
    fill: steelblue;
}

.bar:hover {
    fill: brown;
}

.axis {
    font: 10px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.x.axis path {
    display: none;
}

//--http://bl.ocks.org/mbostock/3885304



// http://fiddle.jshell.net/NYpHG/
// 





















.axis text {
    font: 10px sans-serif;
}







#container{ 
    background: aliceblue;
}

#top, #jungle{
    background: #285e8e;
}

#content{
    background: turquoise;
}

.chart rect {
    fill: steelblue;
}

.chart text {
    fill: white;
    font: 10px sans-serif;
    text-anchor: middle;
}

.chart div {
    font: 10px sans-serif;
    background-color: steelblue;
    text-align: right;
    padding: 3px;
    margin: 1px;
    color: white;
}


pre {outline: 1px solid #ccc; padding: 5px; margin: 5px; }
    .string { color: green; }
    .number { color: darkorange; }
    .boolean { color: blue; }
    .null { color: magenta; }
    .key { color: red; }
